@import "~bootstrap/scss/functions";
@import "./helpers/_variables";
@import "~bootstrap/scss/bootstrap";


/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

@function asset($path) {
  @return url("~@/assets/#{$path}");
}

body {
  font-family: 'Lato', 'Montserrat', sans-serif;
  letter-spacing: 0.075rem;
}


p {
  font-size: .85rem;
  font-family: "PingFang TC", "Microsoft JhengHei", sans-serif;
  font-weight: normal;
}

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.disabled {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.post-profile-thumbnail {
  width: 45px;
  height: 45px;
  border-radius: 45px;
}

.carousel-item {
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .35)), asset("/images/background.jpg") no-repeat;
  background-position: center 25%;
  background-size: cover;

  @media screen and (max-width:768px) {
    height: 250px;
    background-position: center bottom;
  }
}

.carousel-caption {
  color: $secondary;
  position: absolute;
  top: 35%;

  @media screen and (max-width:768px) {
    top: 25%;
  }
}

.nav-item {
  font-family: "B612 Mono", monospace;
  font-size: .85rem;
  color: $dark;
}

.nav-link {
  color: $secondary !important;
}

.nav-link:hover,
.router-link-active.router-link-exact-active.nav-link {
  color: $dark !important;
  ;
}

.navbar-light .navbar-toggler {
  color: $dark;
  border-color: white !important;
}

button:focus {
  outline: none;
}